ShooterGame/Binaries
ShooterGame/Intermediate
ShooterGame/Saved
ShooterGame/DerivedDataCache
ShooterGame/Build/WindowsNoEditor
ShooterGame/Plugins/Funapi/Binaries/
ShooterGame/Plugins/Funapi/Intermediate/
ShooterGame/Plugins/FunapiDedicatedServer/Binaries/
ShooterGame/Plugins/FunapiDedicatedServer/Intermediate/


